a{
    text-decoration: none;
    color: white;
}
  
.logoPag{
    height: 110px;
    width: 300px;
    margin-left: 20px;
}
  
.nav-link{
    font-size: 20px;
    margin-right: 40px;
}
  
/* INDEX */
body{
    background-color: rgb(23, 23, 23);
    font-family: 'League Spartan', sans-serif;
}
    
.textoMain{
    color: white
}
    
.primerTit{
    text-align: center;
    font-size: 40px;
    padding: 10px;
}
    
.primerTex{
    text-align: center;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
}
    
.carousel-item{
    height: 350px;
    width: 50vw;
    margin-left: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.carousel-item img{
    height: 350px;
}
  
.segundoTit{
    text-align: center;
    font-size: 40px;
    padding: 10px;
}
  
.segundoTex{
    text-align: center;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

/* PRECIOS */
.tituloTabla{
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 30px;
}
  
.tablaPrecios{
    color: white;
    border-color: rgb(221,20,26);
    margin-left: 30%;
    height: 40vh;
    width: 40vw;
}
  
.turnoTabla{
    background-color: rgb(42, 41, 42);
    text-align: center;
}
  
.precioTabla{
    background-color: rgb(61, 60, 61);
    text-align: center;
}
  
.textoTabla1{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
  
.textoTabla3{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
}

/* CONTACTO */
.textoMapa{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 5px;
}
  
.mapa{
    width: 60vw;
    height: 25vh;
    margin-left: 20%; 
 }
  
.formulario{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

/* TIENDA */



/* INICIAR SESION */
.iniciarTit{
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

/* FOOTER */
.footer{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 41, 42);
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 10px;
    text-align: center;
    flex-direction: row;
    list-style: none;
    max-width: 100%;
}
    
.textoFooter{
    color: white;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    list-style: none;
} 
    
.ulFooter{
    list-style: none;
    display: flex;
    justify-content: center;
}
  
.fa-brands{
    list-style: none;
}
    
i{
    font-size: 35px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    list-style: none;
}